@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(236, 229, 214);
    background: linear-gradient(90deg, rgba(236, 229, 214, 1) 0%, rgba(55, 94, 152, 1) 35%);
    background-size: cover;
    background-position: center;

}

header {
    position: absolute;
    top: 0;
    left: 0;


    width: 50%;
    padding: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {

    user-select: none;

}





.warper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(255, 255, 255, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.warper .form-box {
    width: 100%;
    padding: 40px;
}

.form-box h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;

}

.input-box {

    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.311);
    margin: 30px 0;
    /* display: flex;
    flex-direction: row-reverse; */
}

.input-box label {
    /* text-align: right;
    direction: rtl !important; */

    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
}


.input-box input:focus~label,
.input-box input:not(placeholder-shown)~label,
.input-box input:valid~label {
    top: -12px;
}

.input-box input {
    text-align: right;
    direction: rtl !important;
}


.input-box input {

    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding: 0 35px 0 5px;

}

.input-box .icon {

    position: absolute;
    left: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;
}

.remember-forgot {
    font-size: 0.9em;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;

}



.btn {
   
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;

}

.login-register p a:hover {

    text-decoration: underline;


}

.icon-close {
    position: absolute;
    color: #3c0374;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #fff;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
#login_error_msg{
   display:none;
    direction: rtl;
    color: white;
    font-weight: bold;
    background-color: rgb(136, 26, 26);
    border-radius: 4px;
    padding: 1%;
}