body {
    background-color: #eee;
    height: 100vh;
    /* 100% of the viewport height */
    width: 100%;
    margin: 0%;
    padding: 0;
    background-size: cover;
    /* padding: 0; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 100vh;
    /* flex-direction: row; */
    background-size: cover;
    background-position: center;

}

.bg-continer {
    width: 100%;
    height: 120%;
    display: flex;
    flex-direction: row;

}



* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}




header {
    direction: rtl;
    width: 100%;
    position: relative;
    height: 25%;
    background-color: #eee;

}

header img {

    /* float: right; */
    /* position: absolute; */
    width: 100px;
    height: auto;
    bottom: 0%;

    top: 10px;
    /* Adjust the top position as needed */
    right: 0;
    /* Adjust the right position as needed */

}

h4 {
    color: #375E98;
}

label {
    text-align: right;
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: #274e89;
    font-family: 'Droid Arabic Kufi', serif;
}

.warper {
    /* background-color: #212020; */
    padding: 1%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #9cb4cc9e;
    background-color: #9cb4cc63;
    /* background-color: #e8e5e5; */
    justify-content: center;
    margin: 0px;
    /* padding-bottom: 50%; */

}

.warper h1 {

    /* font-size: 3rem; */
    font-weight: bolder;
    color: #375E98;
    margin-right: auto;
    margin-left: auto;

}

.forms {
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkboxContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.continer {
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    /* background-color: #9cb4cca4; */
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.box {
    font-weight: lighter;
    padding-top: 1%;
    color: white;

    border: 1px #212020 outset;
    border-color: black;

    border-radius: 8pt;
    text-align: center;
    margin: 16pt;
    height: 200px;
    width: 200px;
    background-color: #375E98
}

.box button {

    font-size: medium;
    font-weight: bold;
    color: #375E98;
    background-color: white;
    border-color: #9cb4cc;
    border-radius: 8px;
    margin: 1%;
    width: 84%;
}


/* nav menu */
.vertical-menu {
    direction: rtl;
    height: 100vh;
    margin-top: 0;
    width: 25%;
    /* height:900px; */
    /* Set a width if you like */
}

.vertical-menu a {
    border: #375E98 1px outset;
    background-color: #eee;
    /* Grey background color */
    color: black;
    /* Black text color */
    display: block;
    /* Make the links appear below each other */
    padding: 12px;
    /* Add some padding */
    text-decoration: none;
    /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc;
    /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #819abe;
    /* Add a green color to the "active/current" link */
    color: white;
}

table,
td,
th,
tr {
    text-align: center;
    direction: rtl;


}

/* students page+ advisors  */
.stu_email {
    direction: ltr;
}

th {
    background-color: #375E98;
    color: #fff;
}

table,
td,
th,
tr {

    padding: 1%;
}


td,
th,
table {
    border: #212020 1px solid;
    border-collapse: collapse;
}

table {
    background: #eee;
    padding: 1%;
    height: min-content;
    width: 80%;
}

/* log out */
#logout {
    width: max-content;
    font-weight: 600;
    font-size: 1em;
    color: #375E98;
    display: flex;
    direction: rtl;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    direction: ltr;
    width: 10%;
    border: #375E98 2px solid;
    border-radius: 8px;
    padding: 0.5%;
    margin-top: 5%;
    margin-left: 1%;
    float: left;
}

#logout span img {
    margin: 1px;
    width: min-content;
}

#logout:hover {
    border: #819abe 2px solid;
    background-color: #819abe;
    transition: 0.7s;
    color: #fff;
}

/* hovering btn card buttons  */
.btn_card:hover {

    background-color: #819abe;
    transition: 0.7s;
    color: #fff;
}




/* add students  */
#stu_file {
    background-color: #fff;
    width: 100%;
    margin-left: auto;
    margin-bottom: 10px;
    margin-right: auto;
    height: 60%;
    display: flex;

    /* margin: 30px 16px; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #375E98;
}

form i {
    color: #6990F2;
    font-size: 50px;
}

#file_hint {
    margin-top: 15px;
    font-size: 16px;
}

#stu_header {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    /* padding-bottom: 1%; */
    margin-left: auto;
    margin-right: auto;
    direction: rtl;
    /* position:absolute; */
    /* position: relative; */
    background-color: none;
    color: #375E98;
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
}

section .row {

    margin-bottom: 10px;
    background: #E9F0FF;
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .row i {
    color: #6990F2;
    font-size: 30px;
}

section .details span {
    font-size: 14px;
}

.progress-area .row .content {
    width: 100%;
    margin-right: 15px;
}

.progress-area .details {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    justify-content: space-between;
}

.progress-area .content .progress-bar {
    height: 6px;
    width: 100%;
    margin-bottom: 4px;
    background: #fff;
    border-radius: 30px;
}

.content .progress-bar .progress {
    height: 100%;
    width: 0%;
    background: #6990F2;
    border-radius: inherit;
}

.uploaded-area {
    max-height: auto;
    overflow-y: scroll;
}

.uploaded-area.onprogress {
    max-height: 150px;
}

.uploaded-area::-webkit-scrollbar {
    width: 0px;
}

.uploaded-area .row .content {
    display: flex;
    align-items: center;
}

.uploaded-area .row .details {
    display: flex;
    margin-right: 15px;
    flex-direction: column;
}

.uploaded-area .row .details .size {
    direction: ltr;
    color: #404040;
    font-size: 11px;
}

.uploaded-area i.fa-check {
    font-size: 16px;
}

.wrap_stu {
    direction: rtl;
    display: flex;
    flex-direction: column;
    width: 430px;
    background: #fff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.05);
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #6990F2;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #6990F2;
}

.custom-file-upload input[type="file"] {
    display: none;
}

.error-message {
    background-color: #fce4e4;
    border: 1px solid #fcc2c3;
    float: left;
}

.error-text {
    color: #cc0033;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    text-shadow: 1px 1px rgba(250, 250, 250, .3);
}

.success-message {
    background-color: #D1FFBD;
    border: 1px solid #abf48c;
    float: left;
}

.success-text {
    color: #00cc0a;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    text-shadow: 1px 1px rgba(250, 250, 250, .3);
}

/* for all pages the title in header */
.title {
    position: absolute;
    top: 70px;
    right: 50%;
    color: #375E98;
    text-shadow: 2px 2px 4px #9cb4cc;
}






.dropdown-container {
    margin: 20px;
    text-align: center
}

/* Style for the dropdown */
.dropdown {
    text-align: right;
    width: 170px;
    padding: 10px;
    font-size: 17px;
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #819abe;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* Style for the dropdown arrow */
.dropdown:after {
    content: '\f107';
    /* Font Awesome down arrow icon */
    font-family: 'Font Awesome';
    /* Specify the Font Awesome font family */
    font-size: 18px;
    display: inline-block;
    margin-left: 5px;
    color: white;
}

/* Style for the dropdown items */
.dropdown option {
    background-color: #f9f9f9;
    color: #375E98;
}






.button-1 {
    background-color: #375E98;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 35px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 7px 13px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
    background-color: #8da5c8;
}

#buttonss {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* rating page */
.full_star {
    padding: 1%;
    background-color: #919395;
    color: #e7f213;
    border: #212020;
}

.empty_star {
    padding: 1%;
    color: white;
    background-color: #919395;
}

.students_notes {
    text-align: center;
    padding: 1%;
    background-color: white;
    /* direction: rtl; */
    width: 35%;
    height: 50%;

    position: absolute;
    overflow-y: scroll;
}

.stu_note {
    text-align: right;
    padding: 1%;
    background-color: #f0f0f0;
}

#closing_btn {
    padding: 1.5%;
    background-color: white;
    margin-left: -90%;
    color: rgb(0, 0, 0);
    font-size: 1em;
    border-style: none;
    margin-top: 2px;
    margin-bottom: 2px;
    cursor: pointer;

}

#closing_btn:hover {
    /* margin-top: 10px;
    margin-bottom: 10px; */
    border-style: none;
    padding-left: 2%;
    padding-right: 2%;
    /* padding: 1.5%; */
    background-color: red;
    margin-left: -90%;
    color: white;
    font-size: medium;

}

.view_notes_btn {
    border-radius: 8px;
    font-weight: bold;
    padding: 2%;
    border-color: #274e89;
    background-color: #fdfdfd;
    color: #274e89;
    cursor: pointer;
}

.view_notes_btn:hover {
    border-radius: 8px;
    font-weight: bold;
    padding: 2%;
    border-color: #6990F2;
    background-color: #6990F2;
    color: white;
}

#rating_activation {
   margin: auto;
    text-align: center;
    background-color: white;
    width: 56%;
    padding: 1%;
    margin-bottom: 16px;
    direction: rtl;
}
#btn_active{
width:40%;
padding: 1%;
background-color: rgb(33, 174, 33);
color: white;
border-radius: 4px;
border-color: rgb(33, 174, 33);
font-size:1rem ;
font-weight: bolder;
    cursor: pointer;
}
#btn_notActive {
    width: 40%;
    padding: 1%;
    background-color: rgb(208, 79, 79);
    color: white;
    border-radius: 4px;
    border-color: rgb(208, 79, 79);
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
}

/* delete students */
.delete_hint {
    text-align: center;
    padding: 2%;
    direction: rtl;
    background-color: white;
    width: 36%;
    height: max-content;
}

.delete_hint ul li {
    font-size: 1.1em;
    color: #274e89;
    text-align: right;
    margin-right: 16%;
}

#del_header {
    color: red;
}

.del_page_div {
    width: 80%;
    height: 200%;
    display: flex;

    /* justify-content: center; */
    flex-direction: column;
    background-color: transparent;
    background-color: #CFD8E1;
    margin-bottom: 0%;
    align-items: center;
    gap: 4%;

    padding: 1%;
    box-sizing: border-box;
    position: absolute;
}

.delte_btn {
    margin-top: 0%;
    margin-left: 37%;
    margin-right: 37%;
    /* width: 25%; */
    width: 25%;
    padding: 1%;
    background-color: rgb(208, 79, 79);

    color: white;
    font-size: medium;
    font-weight: bold;
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(208, 79, 79);
    direction: rtl;
    cursor: pointer;
}

.delte_btn[disabled] {
    background-color: rgba(128, 128, 128);
    pointer-events: none;
    border-color: rgba(128, 128, 128);
}

.confim_delete {

    font-size: larger;
    background: white;
    text-align: center;
    width: 25%;
    height: 200px;
    position: absolute;
    margin-top: 25%;
    margin-bottom: 25%;
    padding-top: 4%;

}

.confim_delete button {
    padding: 1%;
    width: 30%;

}

.yes_del_btn {
    border-color: #274e89;
}

#con_delete_stu,
#con_delete_adv {
    text-align: center;
    background-color: rgb(217, 245, 213);
    border-style: solid;
    border-color: rgb(53, 168, 53);
    padding: 1%;
    width: 36%;
    color: rgb(70, 69, 69);
    display: none;

}

.searchDiv {
    direction: rtl;
    padding: 1%;
    background-color: white;
    width: 36%;
    border-radius: 4px;
}

#searchInput:focus {
    background-color: #f0f0f0;

    border-color: #375E98;


    box-shadow: 0 0 5px #375E98;
}

#searchInput {
    border: 1px solid #ccc;
    padding: 1%;
    width: 90%;
    font-size: large;
    border: none;


}

.progress {
    width: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.progress__ring {
    margin-bottom: 12px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 3px solid white;
    border-top-color: #274e89;
    box-sizing: border-box;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.testing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Title {
    direction: rtl;
    padding: 1%;
    background-color: white;
    width: 100%;
    border-radius: 4px;
}

#title {
    border: 1px solid #ccc;
    padding: 3%;
    width: 99%;
    font-size: medium;
    border: none;
}